@charset "utf-8";
/* CSS Document */

body
{
	margin:0 0 0 0;
	background-image:url(Images/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#wrapper
{
	margin: 25px auto 0;
	width:1060px;
	position:relative;
}

#header
{
	width:1060px;
	height:120px;
	background-image:url(Images/header_bg.png);
}

#logo
{
	float:left;
	width:310px;
	height:120px;
}

#logo_image
{
	margin: 10px 10px 10px;
}

#menu
{
	width:1060px;
	height:60px;
}

#menu_image
{
	float:left;
	position:absolute;
}

#memberMenu
{
	float:right;
	width:240px;
	height:120px;
	position: relative;
}

#memberMenu_content
{
	position: absolute; 
	bottom: 0; 
	right: 0;
	margin-right:10px;
}

#memberMenu_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#F90;
}

#slider
{
	width:795px;
	height:400px;
	background-image:url(Images/slider.png);
	float:left; 
}

#doctor1
{
	width:795px;
	height:150px;
	margin:20px 20px 20px;
}

#doctorImg1
{
	width:150px;
	height:150px;
	float:left;
}

#doctorName1
{
	width:645px;
	height:150px;
	float:left;
}

#doctorName1 h1
{
	font-family:Cambria;
	margin-left:20px;
}

#doctor2
{
	width:795px;
	height:150px;
	margin:20px 20px 20px;
}

#doctorImg2
{
	width:150px;
	height:150px;
	float:left;
}

#doctorName2
{
	width:645px;
	height:150px;
	float:left;
}

#doctorName2 h1
{
	font-family:Cambria;
	margin-left:20px;
}

#sidebar
{
	width:265px;
	height:400px;
	float:left;
	background-image:url(Images/sidebar.png);
	margin-left:-15px;
}

#sidebar h1
{
	margin: 30px 20px 10px 55px;
	font-size:24px;
	font-family:Cambria;
}

#sidebar h2
{
	margin: 20px 20px 10px 55px;
	font-size:20px;
	font-family:Cambria;
}

#sidebar p
{
	margin: 10px 20px 10px 55px;
	font-size:14px;
	font-family:Cambria;
}

.registerLoginStyle{
	color:#F90;
	text-decoration:none;
}
.registerLoginStyle:hover{
	text-decoration:underline;	
}

