@charset "utf-8";
/* CSS Document */

body
{
	margin:0 0 0 0;
	background-image:url(Images/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	overflow:visible;
}

#wrapper
{
	margin: 25px auto 0;
	width:1060px;
	position:relative;
}

#header
{
	width:1060px;
	height:240px;
	background-image:url(Images/header_bg.png);
	background-size: 1060px 100%;
}

#logo
{
	margin: 0 250px 0px;
	padding-top: 10px;
	width:310px;
	height:120px;
}

#logo_image
{
	margin: 10px 10px 10px;
}

#slider
{
	/*
	margin-top:60px;
	*/
	margin: 60px 132.5px 20px;
	width:795px;
	background-image:url(Images/slider.png);
	background-repeat:no-repeat;
	background-size:795px 100%;
	float:left;
	/*
	margin-bottom:20px;
	*/
}

#login
{
	margin:50px 20px 20px;
}

#register
{
	margin:50px 20px 20px;
}

